.page {
    background-color: #1A202C;
    color: #E2E8F0;
}

.album-cont {
    width: 100%;
    margin: auto;
    margin-top: 9vh;
    padding-top: 1vh;
}

.album {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px solid #E2E8F0;
    margin-top: 20px;
    padding: 10px;
}
.album > img {
    height: 200px;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.paginate {
    width: fit-content;
    margin: auto;
    display: flex;
}

.paginate > * {
    padding: 20px;
}